<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Housekeeping Home</title>
</head>
<body>
   
    <nav class="flex items-center h-20 w-screen bg-yellow-800 justify-between p-5">
        
        <a href="" class="text-white flex items-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 w-6 h-6">
                <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
            </svg>
            <p class="text-white font-bold">Housekeeping</p>
        </a>

       
        <div class="flex items-center space-x-6">
            
            <a href="#" class="text-white hover:text-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                    <path d="M4 4h16v12H4z" opacity=".5"/>
                    <path d="M2 6c0-.553.447-1 1-1h18c.553 0 1 .447 1 1v12c0 .553-.447 1-1 1H3c-.553 0-1-.447-1-1V6zm2 0v12h16V6H4z"/>
                </svg>
            </a>

           
            <a href="#" class="text-white hover:text-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 3a7.5 7.5 0 0 1 7.5 7.5c0 3.154-1.83 5.832-4.5 6.93V18a2 2 0 0 1-1 1.732V21h-6v-1.268a2 2 0 0 1-1-1.732v-2.57c-2.67-1.098-4.5-3.776-4.5-6.93A7.5 7.5 0 0 1 12 3zm0 1.5a6 6 0 0 0-6 6c0 2.603 1.5 4.8 3.5 5.773V16h5v-1.727C16.5 15.3 18 13.103 18 11.5a6 6 0 0 0-6-6z" clip-rule="evenodd"/>
                </svg>
            </a>
        </div>
    </nav>

   
    <div class="flex items-center justify-center p-8">
        <h1 class="text-3xl font-bold">Welcome to the Housekeeping Dashboard</h1>
    </div>
</body>
</html>
